In [ ]:
# zillow_notebook

In [30]:
# imports
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import env

import wrangle_zillow

from sklearn.cluster import KMeans

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [31]:
df = wrangle_zillow.wrangle_zillow()

In [32]:
df.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,logerror,transactiondate,heatingorsystemdesc,county
0,3.5,4.0,6.0,3100.0,6059.0,33634931.0,-117869207.0,4506.0,6.059063e+07,53571.0,...,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,0.025595,2017-01-01,None,Orange
1,1.0,2.0,6.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,6.111001e+07,13091.0,...,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,0.055619,2017-01-01,None,Ventura
2,2.0,3.0,6.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,6.059022e+07,21412.0,...,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,0.005383,2017-01-01,None,Orange
3,3.0,4.0,8.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,6.037300e+07,396551.0,...,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,-0.103410,2017-01-01,Central,Los Angeles
4,3.0,3.0,8.0,1312.0,6037.0,34185120.0,-118414640.0,278581.0,6.037124e+07,12447.0,...,1964.0,73681.0,119407.0,2016.0,45726.0,1533.89,0.006940,2017-01-01,Central,Los Angeles

In [33]:
wrangle_zillow.summarize(df)

=====================================================


Dataframe head:
|    |   bathroomcnt |   bedroomcnt |   buildingqualitytypeid |   calculatedfinishedsquarefeet |   fips |    latitude |    longitude |   lotsizesquarefeet |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidzip |   roomcnt |   unitcnt |   yearbuilt |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |   logerror | transactiondate   | heatingorsystemdesc   | county   |
|---:|--------------:|-------------:|------------------------:|-------------------------------:|-------:|------------:|-------------:|--------------------:|-------------------------:|---------------:|-----------------:|--------------:|----------:|----------:|------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|-----------:|:------------------|:----------------------|:---------|
|  0 |           3.5 |            4 |                       6 |                           3100 |   6059 | 3.36349e+07 | -1.17869e+08 |                4506 |              6.05906e+07 |          53571 |             1286 |         96978 |         0 |         1 |        1998 |                       485713 |         1.02328e+06 |             2016 |                  537569 |    11013.7  | 0.0255949  | 2017-01-01        | None                  | Orange   |
|  1 |           1   |            2 |                       6 |                           1465 |   6111 | 3.44493e+07 | -1.19282e+08 |               12647 |              6.111e+07   |          13091 |             2061 |         97099 |         5 |         1 |        1967 |                        88000 |    464000           |             2016 |                  376000 |     5672.48 | 0.0556191  | 2017-01-01        | None                  | Ventura  |
|  2 |           2   |            3 |                       6 |                           1243 |   6059 | 3.38862e+07 | -1.17823e+08 |                8432 |              6.05902e+07 |          21412 |             1286 |         97078 |         6 |         1 |        1962 |                        85289 |    564778           |             2016 |                  479489 |     6488.3  | 0.00538285 | 2017-01-01        | None                  | Orange   |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69523 entries, 0 to 77380
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   69523 non-null  float64
 1   bedroomcnt                    69523 non-null  float64
 2   buildingqualitytypeid         69523 non-null  float64
 3   calculatedfinishedsquarefeet  69523 non-null  float64
 4   fips                          69523 non-null  float64
 5   latitude                      69523 non-null  float64
 6   longitude                     69523 non-null  float64
 7   lotsizesquarefeet             69523 non-null  float64
 8   rawcensustractandblock        69523 non-null  float64
 9   regionidcity                  69523 non-null  float64
 10  regionidcounty                69523 non-null  float64
 11  regionidzip                   69523 non-null  float64
 12  roomcnt                       69523 non-null  float64
 13  unitcnt                       69523 non-null  float64
 14  yearbuilt                     69523 non-null  float64
 15  structuretaxvaluedollarcnt    69523 non-null  float64
 16  taxvaluedollarcnt             69523 non-null  float64
 17  assessmentyear                69523 non-null  float64
 18  landtaxvaluedollarcnt         69523 non-null  float64
 19  taxamount                     69523 non-null  float64
 20  logerror                      69523 non-null  float64
 21  transactiondate               69523 non-null  object
 22  heatingorsystemdesc           69523 non-null  object
 23  county                        69523 non-null  object
dtypes: float64(21), object(3)
memory usage: 13.3+ MB
None
=====================================================


Dataframe Description:
|       |   bathroomcnt |   bedroomcnt |   buildingqualitytypeid |   calculatedfinishedsquarefeet |       fips |         latitude |        longitude |   lotsizesquarefeet |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidzip |     roomcnt |   unitcnt |   yearbuilt |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |       logerror |
|:------|--------------:|-------------:|------------------------:|-------------------------------:|-----------:|-----------------:|-----------------:|--------------------:|-------------------------:|---------------:|-----------------:|--------------:|------------:|----------:|------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|---------------:|
| count |  69523        |  69523       |             69523       |                      69523     | 69523      |  69523           |  69523           |     69523           |          69523           |        69523   |        69523     |      69523    | 69523       |     69523 |  69523      |              69523           |     69523           |            69523 |         69523           |    69523    | 69523          |
| mean  |      2.25154  |      3.00759 |                 6.3557  |                       1728.65  |  6049.33   |      3.40026e+07 |     -1.18193e+08 |     27609.7         |              6.04962e+07 |        33480.6 |         2498.89  |      96612.1  |     1.58828 |         1 |   1969.02   |             179932           |    464957           |             2016 |        285024           |     5671.67 |     0.0165065  |
| std   |      0.907034 |      0.99284 |                 1.36106 |                        852.482 |    20.8423 | 268171           | 360982           |    119119           |         206867           |        46511.8 |          815.041 |       4003.51 |     2.90517 |         0 |     22.9738 |             175676           |    454919           |                0 |        327303           |     5273.57 |     0.165696   |
| min   |      1        |      1       |                 1       |                        360     |  6037      |      3.33395e+07 |     -1.19475e+08 |       236           |              6.0371e+07  |         3491   |         1286     |      95982    |     0       |         1 |   1878      |                 44           |      3254           |             2016 |           161           |       19.92 |    -4.65542    |
| 25%   |      2        |      2       |                 6       |                       1164     |  6037      |      3.38038e+07 |     -1.18409e+08 |      6000           |              6.03731e+07 |        12447   |         1286     |      96206    |     0       |         1 |   1954      |              82946.5         |    202843           |             2016 |         82371           |     2667.14 |    -0.0237748  |
| 50%   |      2        |      3       |                 6       |                       1507     |  6037      |      3.40128e+07 |     -1.18163e+08 |      7313           |              6.03762e+07 |        25218   |         3101     |      96411    |     0       |         1 |   1970      |             133700           |    354490           |             2016 |        203050           |     4374.6  |     0.00651292 |
| 75%   |      3        |      4       |                 7       |                       2047     |  6059      |      3.41745e+07 |     -1.17913e+08 |     10636.5         |              6.05905e+07 |        45457   |         3101     |      96990    |     0       |         1 |   1986      |             213102           |    562000           |             2016 |        365958           |     6768.6  |     0.0380712  |
| max   |     10        |     11       |                12       |                       7970     |  6111      |      3.48188e+07 |     -1.17572e+08 |         6.97101e+06 |              6.11101e+07 |       396556   |         3101     |     399675    |    14       |         1 |   2016      |                  3.09767e+06 |         4.99313e+06 |             2016 |             4.84722e+06 |    61992.6  |     3.39454    |
=====================================================
DataFrame value counts:
(0.99, 1.9]    13702
(1.9, 2.8]     35695
(2.8, 3.7]     15770
(3.7, 4.6]      3009
(4.6, 5.5]       964
(5.5, 6.4]       264
(6.4, 7.3]        89
(7.3, 8.2]        25
(8.2, 9.1]         4
(9.1, 10.0]        1
Name: bathroomcnt, dtype: int64
(0.989, 2.0]    21310
(2.0, 3.0]      28328
(3.0, 4.0]      15471
(4.0, 5.0]       3753
(5.0, 6.0]        556
(6.0, 7.0]         86
(7.0, 8.0]         12
(8.0, 9.0]          5
(9.0, 10.0]         1
(10.0, 11.0]        1
Name: bedroomcnt, dtype: int64
(0.988, 2.1]        9
(2.1, 3.2]        142
(3.2, 4.3]       8073
(4.3, 5.4]       1468
(5.4, 6.5]      38429
(6.5, 7.6]       5220
(7.6, 8.7]      13040
(8.7, 9.8]       2020
(9.8, 10.9]       244
(10.9, 12.0]      878
Name: buildingqualitytypeid, dtype: int64
(352.389, 1121.0]    15140
(1121.0, 1882.0]     33090
(1882.0, 2643.0]     12791
(2643.0, 3404.0]      5074
(3404.0, 4165.0]      2036
(4165.0, 4926.0]       764
(4926.0, 5687.0]       332
(5687.0, 6448.0]       174
(6448.0, 7209.0]        86
(7209.0, 7970.0]        36
Name: calculatedfinishedsquarefeet, dtype: int64
(6036.925, 6044.4]    44028
(6044.4, 6051.8]          0
(6051.8, 6059.2]      19801
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       5694
Name: fips, dtype: int64
(33338047.759000003, 33487451.0]      932
(33487451.0, 33635375.0]             5146
(33635375.0, 33783299.0]             9367
(33783299.0, 33931223.0]            13708
(33931223.0, 34079147.0]            11952
(34079147.0, 34227071.0]            16871
(34227071.0, 34374995.0]             5858
(34374995.0, 34522919.0]             2140
(34522919.0, 34670843.0]             2262
(34670843.0, 34818767.0]             1287
Name: latitude, dtype: int64
(-119477167.928, -119284972.3]      180
(-119284972.3, -119094679.6]       1829
(-119094679.6, -118904386.9]       1215
(-118904386.9, -118714094.2]       2358
(-118714094.2, -118523801.5]       4558
(-118523801.5, -118333508.8]      13545
(-118333508.8, -118143216.1]      12668
(-118143216.1, -117952923.4]      13154
(-117952923.4, -117762630.7]      12244
(-117762630.7, -117572338.0]       7772
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    69268
(697313.4, 1394390.8]               206
(1394390.8, 2091468.2]               30
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(60370272.019999996, 60444919.091]    44028
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          19801
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           5694
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    51208
(42797.5, 82104.0]               16392
(82104.0, 121410.5]                968
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                18
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               937
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    19801
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       5694
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      44028
Name: regionidcounty, dtype: int64
(95678.306, 126351.3]    69511
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
(-0.015, 1.4]    52635
(1.4, 2.8]           8
(2.8, 4.2]        1446
(4.2, 5.6]        2845
(5.6, 7.0]        8102
(7.0, 8.4]        2832
(8.4, 9.8]        1174
(9.8, 11.2]        438
(11.2, 12.6]        32
(12.6, 14.0]        11
Name: roomcnt, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       69523
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: unitcnt, dtype: int64
(1877.861, 1891.8]       22
(1891.8, 1905.6]        163
(1905.6, 1919.4]       1018
(1919.4, 1933.2]       4011
(1933.2, 1947.0]       4799
(1947.0, 1960.8]      15872
(1960.8, 1974.6]      14128
(1974.6, 1988.4]      14424
(1988.4, 2002.2]       9332
(2002.2, 2016.0]       5754
Name: yearbuilt, dtype: int64
(-3053.6290000000004, 309806.8]    60998
(309806.8, 619569.6]                6639
(619569.6, 929332.4]                1169
(929332.4, 1239095.2]                443
(1239095.2, 1548858.0]               165
(1548858.0, 1858620.8]                61
(1858620.8, 2168383.6]                28
(2168383.6, 2478146.4]                12
(2478146.4, 2787909.2]                 3
(2787909.2, 3097672.0]                 5
Name: structuretaxvaluedollarcnt, dtype: int64
(-1735.879, 502241.8]     48447
(502241.8, 1001229.6]     15655
(1001229.6, 1500217.4]     3053
(1500217.4, 1999205.2]     1199
(1999205.2, 2498193.0]      507
(2498193.0, 2997180.8]      311
(2997180.8, 3496168.6]      161
(3496168.6, 3995156.4]       92
(3995156.4, 4494144.2]       62
(4494144.2, 4993132.0]       36
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      69523
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-4686.064, 484867.3]     59105
(484867.3, 969573.6]       7895
(969573.6, 1454279.9]      1488
(1454279.9, 1938986.2]      562
(1938986.2, 2423692.5]      256
(2423692.5, 2908398.8]      123
(2908398.8, 3393105.1]       65
(3393105.1, 3877811.4]       22
(3877811.4, 4362517.7]        6
(4362517.7, 4847224.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
(-42.053999999999995, 6217.191]    49195
(6217.191, 12414.462]              15276
(12414.462, 18611.733]              2934
(18611.733, 24809.004]              1093
(24809.004, 31006.275]               481
(31006.275, 37203.546]               274
(37203.546, 43400.817]               132
(43400.817, 49598.088]                74
(49598.088, 55795.359]                44
(55795.359, 61992.63]                 20
Name: taxamount, dtype: int64
(-4.664000000000001, -3.85]        2
(-3.85, -3.045]                    1
(-3.045, -2.24]                   23
(-2.24, -1.435]                   17
(-1.435, -0.63]                  132
(-0.63, 0.175]                 65973
(0.175, 0.98]                   3136
(0.98, 1.785]                    128
(1.785, 2.59]                     99
(2.59, 3.395]                     12
Name: logerror, dtype: int64
2017-06-30    1053
2017-04-28     803
2017-05-31     773
2017-07-28     718
2017-08-31     691
              ...
2017-07-08       1
2017-06-03       1
2018-05-25       1
2017-02-18       1
2017-07-22       1

Name: transactiondate, Length: 264, dtype: int64
Central       30318
None          24480
Floor/Wall    13030
Yes             827
Forced air      763
Solar            65
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
Los Angeles    44028
Orange         19801
Ventura         5694
Name: county, dtype: int64
=====================================================
nulls in dataframe by column:
                              num_rows_missing  percent_rows_missing
bathroomcnt                                  0                   0.0
bedroomcnt                                   0                   0.0
buildingqualitytypeid                        0                   0.0
calculatedfinishedsquarefeet                 0                   0.0
fips                                         0                   0.0
latitude                                     0                   0.0
longitude                                    0                   0.0
lotsizesquarefeet                            0                   0.0
rawcensustractandblock                       0                   0.0
regionidcity                                 0                   0.0
regionidcounty                               0                   0.0
regionidzip                                  0                   0.0
roomcnt                                      0                   0.0
unitcnt                                      0                   0.0
yearbuilt                                    0                   0.0
structuretaxvaluedollarcnt                   0                   0.0
taxvaluedollarcnt                            0                   0.0
assessmentyear                               0                   0.0
landtaxvaluedollarcnt                        0                   0.0
taxamount                                    0                   0.0
logerror                                     0                   0.0
transactiondate                              0                   0.0
heatingorsystemdesc                          0                   0.0
county                                       0                   0.0
=====================================================
nulls in dataframe by row:
  num_cols_missing percent_cols_missing  index
0                0                  0.0  69523
============================================

In [34]:
train_validate, test = train_test_split(df, train_size=.80, random_state=123)
train, validate = train_test_split(train_validate, random_state=123)

train.shape, validate.shape, test.shape

((41713, 24), (13905, 24), (13905, 24))